@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
	margin: 0;
	padding: 0;
}
.btn-3:hover{
	color: white;
}
body{
	font-family: font-family: 'Roboto', sans-serif;
}
footer{
	background-color: rgba(186,221,224,0.5);
}
.btn-1,.btn-2{
	border-radius: 20px;
}
.btn-1 a:hover{
	color: white !important;
	text-decoration: none !important;
}